{
	"IsEncrypted": false,
	"Values": {
		"AzureWebJobsStorage": "UseDevelopmentStorage=true",
		"BACKUP_SOURCE_CONNECTION_STRING": "",
		"BACKUP_DESTINATION_CONNECTION_STRING": "",
		"BACKUP_DAILY_SCHEDULE": "0 0 1 * * *",
		"AzureFunctionsJobHost__logging__logLevel__Function": "Information",
		"FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"
	}
}
